<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <!-- Javascript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


  <nav class="navbar navbar-default">
    <div class="container">
      <img class="computer" src="https://media.giphy.com/media/2xDcf5tkCRKqqE15JM/giphy.gif" alt="Vintage Computer">
      <br>
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li id="home"><a href="/">HOME</a></li>

        <li class="dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">PROGRAMMING</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/cposts">C Journal</a><br>
            <a class="dropdown-item" href="/pyposts">Python Journal</a><br>
            <a class="dropdown-item" href="/wdposts">Web Dev Journal</a><br>
            <a class="dropdown-item" href="/bashposts">Bash Journal</a><br>
          </div>
        </li>

        <li id="about"><a href="/about">ABOUT ME</a></li>
        <li id="contact"><a href="/contact">CONTACT ME</a></li>
      </ul>
    </div>
  </nav>

<body>
  <div class="container">
